.start {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-content * {
  margin: 5px;
}

#editor-file-topbar {
  background-color: #747474;
  color: #ffffff;
  position: sticky;
  padding: 10px;
  top: 0;
  width: cover;
  right: 0;
}

#editor-file-title {
  position: relative;
  font-weight: bold;
  display: inline-block;
  margin: 5px 0 10px 0;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#editor-file-toolbar {
  width: 100%;
  font-size: 16px;

  margin-bottom: 7px;

  display: inline-flex;

  user-select: none;
}

.toolbar-section {
  list-style: none;
  margin: 0;
  padding: 0;

  padding: 0 3px;

  display: inline-flex;
  flex-wrap: wrap;
}

.toolbar-section li {
  display: inline-flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  font-weight: bold;

  width: 28px;
  height: 28px;

  padding: 1px;
  margin: 2px 2px 10px 2px;

  border: 1px solid #fffcfc;
  border-radius: 4px;

  position: relative;
  top: 0;

  cursor: pointer;
  transition: all 0.3s ease;
}
.toolbar-section select {
  display: inline-flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  font-weight: bold;

  width: 100px;
  height: 28px;

  padding: 1px;
  margin: 2px 2px 10px 2px;

  border: 1px solid #fffcfc;
  border-radius: 4px;

  position: relative;
  top: 0;

  cursor: pointer;
  transition: all 0.3s ease;
}
.subheader-number-symbol {
  font-size: 16px;
}
